[Unit]
Description=Check for updates in repos and AUR

[Service]
Type=oneshot
ExecStart=/home/brian/repos/scripts/checkup-official
ExecStart=/home/brian/repos/scripts/checkup-aur
TimeoutStopSec=10

[Install]
WantedBy=default.target
