[Unit]
Description=Check for updates in repos and AUR

[Service]
Type=oneshot
ExecStart=/home/brian/repos/scripts/check-updates
TimeoutStopSec=10

[Install]
WantedBy=default.target
