/*
 * vim:    set ft=xdefaults tw=0:
 * file:   ~/.Xresources
 * author: Brian Buccola <brian.buccola@gmail.com>
 */

/* Xmessage */
Xmessage*background: #cc241d
Xmessage*buttons: okay:0
Xmessage*center: true
Xmessage*defaultButton: okay
Xmessage*font: -*-terminus-*-*-*-*-14-*-*-*-*-*-*-*
Xmessage*shapeStyle: rectangle
